/**
 * This file contains all the icons (in iconfont) for the VPRONL site and its theme extenders (HUMAN, NPODoc)
 */
/**
 * This file acts as a template for a VPRO.nl like style.css. Override the values
 * of this file before including this one to configure your own version of the VPRO.nl
 * styles.
 * Be sure to check if those users of this template compile without errors!
 *
 * Current users of this template are:
 * Human: magnolia-module-vpro-site-human/src/main/resources/vpro/themes/human/css/sass
 * NPO Doc: magnolia-module-vpro-site-npodoc/src/main/resources/vpro/themes/npodoc/css/sass

 */
/* keep color names in strings, or production build will fail in the vpro-colored mixins */
/**
 * Last-index v1
 * More readable code
 * Slightly worse performance
 */
/**
* start general icon-font
*
*/
/**
* end general icon font
*
*/
/* line 12, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    height: 24px;
    width: 24px;
}

/* line 17, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-size-small {
    font-size: 20px;
}
/* line 21, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-size-small.glyph-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    height: 16px;
    width: 16px;
}

/* line 27, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-size-large {
    font-size: 54px;
}
/* line 30, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-size-large.glyph-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
    height: 48px;
    width: 48px;
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-pause:before {
    content: "\70";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-play:before {
    content: "\71";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-listen:before {
    content: "\6c";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-mute:before {
    content: "\6d";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-next:before {
    content: "\6e";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-close:before {
    content: "\63";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-fullscreen:before {
    content: "\66";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-embed:before {
    content: "\65";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-info:before {
    content: "\69";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-react:before {
    content: "\73";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-scrubber:before {
    content: "\74";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-search:before {
    content: "\75";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-cookies:before {
    content: "\64";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-download:before {
    content: "\67";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-arrowleft:before {
    content: "\61";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-arrowright:before {
    content: "\62";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-navigation:before {
    content: "\6f";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-exitfullscreen:before {
    content: "\68";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-calendar:before {
    content: "\6a";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-shop:before {
    content: "\76";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-share:before {
    content: "\77";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-favorite:before {
    content: "\6b";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-alert:before {
    content: "\7a";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-pulldown:before {
    content: "\7b";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-afterten:before {
    content: "\7c";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-check:before {
    content: "\4d";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-vpro:before {
    content: "\56";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-flags:before {
    content: "\57";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-dots:before {
    content: "\58";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-vprooutline:before {
    content: "\59";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-alleleeftijden:before {
    content: "\41";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-6jaar:before {
    content: "\42";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-9jaar:before {
    content: "\43";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-12jaar:before {
    content: "\44";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-16jaar:before {
    content: "\45";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-geweld:before {
    content: "\4a";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-angst:before {
    content: "\49";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-seks:before {
    content: "\48";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-discriminatie:before {
    content: "\47";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-drugs:before {
    content: "\46";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-groftaal:before {
    content: "\4b";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-popout:before {
    content: "\78";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-pausemall:before {
    content: "\4c";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-alertmedium:before {
    content: "\7d";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-aftertenmedium:before {
    content: "\79";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-alertsmall:before {
    content: "\4e";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-aftertensmall:before {
    content: "\7e";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-externallink:before {
    content: "\51";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-up:before {
    content: "\72";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-previous:before {
    content: "\31";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-down:before {
    content: "\80";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-collectie:before {
    content: "\55";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-showgrid:before {
    content: "\50";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-showlist:before {
    content: "\52";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-watchlater:before {
    content: "\54";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-heart:before {
    content: "\53";
}

/* line 176, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/generic/_mixins.scss */
.glyph-showexpanded:before {
    content: "\5d";
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-white {
    color: white;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-black {
    color: black;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-greybat {
    color: #333333;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-greyelephant {
    color: #aaaaaa;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-greygrizzly {
    color: #666666;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-greymouse {
    color: #cccccc;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-greywolf {
    color: #d6d6d6;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-zachtpaars {
    color: #8d696f;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-blauwgrijs {
    color: #67808b;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-bosgroen {
    color: #405b26;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-wijnrood {
    color: #8d2e3c;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-donkerblauw {
    color: #0f1141;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-oker {
    color: #a07f4c;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-oranje {
    color: #f26e2e;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-rood {
    color: #ef4b4f;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-roze {
    color: #f28084;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-paars {
    color: #663e7b;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-lichtoranje {
    color: #f89a1c;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-blauw {
    color: #0c6cbe;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-zeeblauw {
    color: #35bffe;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-azuurblauw {
    color: #06b5b9;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-groen {
    color: #099762;
}

/* line 44, ../../../../../../../../magnolia-module-vpro-site-vpronl/src/main/resources/vpro/themes/vpronl/css/sass/icons.scss */
.glyph-color-geel {
    color: #e6c51e;
}