@import "bourbon/bourbon";

body {
    margin:0;
    padding:0;
}

#content {
    padding: 10px;
}

#header {

    padding: 0 0 20px;
    height: 200px;

    #meta-container {
        width: 15%;
        float: left;
    }

    textarea {
        width: 79%;
        height: 190px;
        float: right;
    }

}


.meta {
    padding: 6px 0;
    .label {
        width: 60px;
        display: inline-block;
    }
    input {
        font-size: .9em;
    }
}

.timeline {

}

.actor {
    padding: 10px 0;
    width: 100%;
    overflow: auto;
    zoom: 1;
}

.actormeta {
    width: 20%;
    float: left;

    .label {
        color: darkgray;
        font-size: .85em;
    }

    .value {
        width: 68px;
        text-align: right;
        display: inline-block;
    }

    input[type="number"] {
        width: 80px;
        border: 1px solid #fff;
        color: #000;
        text-align: right;
        font-size: .8em;
        &:hover {
            border: 1px solid #666;
        }
    }
}

.actor-name {
    cursor: pointer;
    font-weight: bold;
}

.actormeta {
    .label {
        width: 90px;
        display: inline-block;
    }
    .value {
        font-size: .8em;
    }
}

.actortime {
    .value {
            font-size: .8em;
        }
}

.actorline {

    position: relative;
    width: 80%;
    height:40px;
    background: lightgray;
    float: left;

    .indicator {
        position: absolute;
        height:100%;
        cursor:pointer;
        background-color: #0b97c4;
    }

    .actorname {
        position: absolute;
        font-size: .7em;
        left: 2px;
        bottom: 2px;
        z-index: 99;
        text-shadow: 1px 1px #666;
        color: #fff;
    }

}