@import "bourbon/bourbon";

#header {

    padding: 0 0 20px;
    height: 200px;

    textarea {
        width: 79%;
        height: 190px;
        float: right;
    }

}


.meta {
    padding: 6px 0;
    .label {
        width: 60px;
        display: inline-block;
    }
    input {
        font-size: .9em;
    }
}

.timeline {

}

.se-actor {
    padding: 10px 0;
    width: 100%;
    zoom: 1;
    margin-bottom: 2px;
    background: #e1e1e1;
}

.se-actor.actor-audio {
    @include transition( all 0.5s ease-in-out );
    max-height: 500px;
    overflow: hidden;
}

.se-actor.actor-audio.ng-hide:not(.ng-hide-animate) {
    display: block!important; // override bootstrap :-(
    max-height: 0;
    padding: 0;
    margin-bottom: 0;
}

input[type="number"] {
    width: 80px;
    border: 1px solid #fff;
    color: #000;
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    &:hover {
        border: 1px solid #666;
    }
}

.actor-name {
    cursor: pointer;
    color: #888;
    font-size: 12px;
}

.actor-edit-src,
.actor-edit-title {
    font-size: 13px;
    line-height: 13px;
}


label {
    width: 90px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
}

.value {
    font-size: 12px;
    color: #888;

    &:hover {
        .actor-thumb {
            width: 320px;
            height: 180px;
            z-index: 9999;
            box-shadow: 5px 5px 5px #888;
        }
    }
}

.actor-thumb {
    width: 0;
    height: 0;
    background-size: contain;
    position: absolute;
    margin: 4px;

    background-color: #888;
    background-repeat: no-repeat;
    background-position: center center;
}

.actor-src-preview {
    text-decoration: underline;
}

.actor-delete {
    position: absolute;
    right: 18px;
    top: 0;
    cursor: pointer;
}

.actor-timeline {

    position: relative;
    width: 100%;
    height: 25px;
    background: #eee;
    float: left;

    .indicator {
        position: absolute;
        height:100%;
        background-color: #337ab7;
        cursor:pointer;
    }

    .actor-timeline-title {
        position: absolute;
        font-size: .7em;
        line-height: .7em;
        left: 2px;
        bottom: 3px;
        z-index: 99;
        color: #000;
    }

}

.sub-option {
    padding: 0 0 0 10px;
}

#scenario-selector {
    padding-bottom: 10px;
}

/* @start scenario-player */

.scenario-editor {
    &.closed {
        display: none;
    }
}

.scenario-editor-controls {
    padding-top: 20px;
    padding-bottom: 10px;
}

#display {
    height: 75vh;
    padding: 10px;

    @include transition( all 0.3s ease-in-out );

    overflow: hidden;

    &.closed {
        height: 0vh;
        padding: 0;
    }
}

#player {

    height: 100%;

    #scenario-player-container {

        width: 100%;
        position: relative;

        #scenario-player {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

}

/* @end scenario-player */



/* @start asset selector */

body.modal-open {
    overflow: hidden;
}

#asset-selector {

    display: none;

    &.open {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 20px 80px;
        overflow: auto;
        z-index: 999;

        background: rgba(0,0,0,.85);
    }
}

.asset-selector-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}

.asset-preview {
    float: left;
    background: #337ab7;
    cursor: pointer;
    color: #fff;
    margin: 2px;
    padding: 0 4px;
    font-size: 13px;
}

.asset-img {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 4px;
}

.asset-img-thumb {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.asset-group {
    clear: both;
}

.asset-group-title {
    color: #fff;
}

/* @end asset selector */